@import '../../Css/_variaveis.css';
@import '../../Css/base.css';

.botao{
    background-color: var(--cor-primaria);
    border-radius: 10px;
    font-weight: 700;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
}

.botao:hover{
    color: var(--cor-secundaria);
}
@import '../../Css/_variaveis.css';
@import '../../Css/base.css';

.botao{
    background-color: var(--cor-primaria);
    border-radius: 10px;
    font-weight: 700;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
}

.botao:hover{
    color: var(--cor-secundaria);
}